<!DOCTYPE html>
<html>
<head>
  <title>Resume Uploaded</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Upload Successful!</h1>
    <p>Your resume (<%= filename %>) has been uploaded.</p>
    <a href="/">Go Back</a>
  </div>
</body>
</html>
